In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns


# feature selection imports
from sklearn.feature_selection import SelectKBest, f_regression
from sklearn.feature_selection import RFE

# import scaling methods
from sklearn.preprocessing import RobustScaler, StandardScaler
from scipy import stats
from sklearn.model_selection import train_test_split

# import modeling methods
from sklearn.cluster import KMeans
from sklearn.metrics import mean_squared_error, r2_score 
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import explained_variance_score
from scipy import stats

# import to remove warnings
import warnings
warnings.filterwarnings("ignore")

## custome script imports
import acquire as a

### Acquiring Player Data

In [2]:
df = a.get_player_data() ## using our acquire functionn

In [3]:
df.head() ## previewing our data

,name,country,teams,total_maps,total_rounds,kd_diff,kd,rating
0,ZywOo,France,"['Vitality', 'aAa']",854,22399,5248,1.38,1.28
1,s1mple,Ukraine,"['Natus Vincere', 'FlipSid3']",1429,37717,8070,1.33,1.25
2,deko,Russia,['1WIN'],190,5096,1250,1.42,1.24
3,saffee,Brazil,['paiN'],202,5383,1211,1.37,1.24
4,sh1ro,Russia,"['Gambit', 'Gambit Youngsters']",744,19780,4593,1.43,1.22

Doesn't look like we have a lot of observations if there are any null values we will need to consider filling them to retain as many observations as possible

#### Numerical Statistics Dataframe

In [4]:
stats_df = a.acquire_stats(df) ## using our custom function to output numerical statistics
## for the player stats dataframe

stats_df.head() ## previewing our numerical statistics dataframe

,count,mean,std,min,25%,50%,75%,max,range
total_maps,1869.0,435.231675,391.291072,100.00,152.00,271.00,592.00,2064.00,1964.0
total_rounds,1869.0,11399.083467,10298.045537,2348.00,3977.00,7076.00,15532.00,54137.00,51789.0
kd_diff,1869.0,180.254147,991.956591,-6238.00,-269.00,-32.00,352.00,8070.00,14308.0
kd,1869.0,0.996726,0.100515,0.63,0.93,0.99,1.06,1.43,0.8
rating,1869.0,0.985757,0.075545,0.68,0.94,0.99,1.03,1.28,0.6

#### Acquire Exploration: Data Types, Nulls, & Distributions

In [5]:
a.summarize_data(df) ## using our custome script function to look at data types and nulls

AttributeError: module 'acquire' has no attribute 'summarize_data'

In [ ]:
## using our customer script funciton to look at distributions
a.univariate_distributions(df)